@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
body{
    margin: 0;
    padding: 0;
}
footer{
    background: #7c747c;
    padding: 30px;
    color: white;
    text-align: center;
  align-items: flex-end;
}
.btn-primary{
    background: transparent;
    color: black;
    margin-left: 45%;
    margin-top: 20px;
}
h1, h2{
    text-align: center;
    font-family: 'Rampart One', cursive;
    color: #ad5938;
}
form{
    margin: auto;
   }
   .image_pp{
    width: 80%;
    margin: auto;
 }
 .image_pp img{
    width: 100%;
 }
 nav{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-size: 1.2em;
    background-color: #b0988b;
 }
 nav li{
    color: black;
    list-style-type: none;
 }
 nav a{
    color: #48261d;
    text-decoration: none;
 }
 nav a:hover{
     text-decoration: none;
     color: #ad5938;
 }
 .bg_weight{
     width: 100%;
     margin: auto;
     background-image: url(images/diana-polekhina-OpB7gkQY9oc-unsplash.jpg);
     padding: 300px;
     background-size: cover;
 }
 .bg_weight img{
     width: 100%;

 }
 .contact{
 padding: 100px;
     background-size: cover;

 }
 .form_imc{
    margin-left: 25%;
 }
 li{
     list-style-type: none;
 }
.question{
    margin-left: 0px;
    margin-right: 0px;
}
.error{
    margin-left: 10%;
}
input[type=search]{
    border-radius: 5px;
    padding-bottom: 5px;
}
.color{
    color:black;
    text-decoration: none;
}